/*
styles for my resume project
*/
/*banner image*/
.jumbotron {
  margin:0 !important;
  padding:0 !important;
}
/* background color*/
.body{
  background-color: #d7d7d7;
  font-family: 'Krub', sans-serif;
  color: gray;
  font-weight: 600;
}
/* links to media */
.menu{
  text-align: center;
  margin: 0 auto;
}
.email {
  color: #a864a8 !important;
  border-radius: 4px !important;
  background-color: #d7d7d7;
}

.linkedin {
  color: #a864a8 !important;
  border-radius: 10px !important;
  background-color: #d7d7d7;
}

.Twitter {
  color: #a864a8 !important;
  border-radius: 10px !important;
  background-color: #d7d7d7;
}

.Github {
  color: #a864a8 !important;
  border-radius: 10px !important;
  background-color: #d7d7d7;
}

.full-width {
  border: 1.5px solid gray;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
}

/* job titles */
.jobtitle {
font-weight:600;
font-size: 1.5em;
margin-top: 30px 20px;
}
/* organizations */
.organization {
  font-weight:400;
  font-size: 1.25em;
}
/* job dates */
.date {
  font-weight: 400;
  font-size: 1em;
  font-style:italic;
  margin-top: 2px;
}
/* descriptions */
.description {
  margin-top: 10px;
  font-family:sans-serif;
  margin-bottom: 10px;
}

.sectionheader {
  font-size: 1.5em !important;
  text-decoration: underline !important;
  color: #a864a8;
}

.sectionheader1 {
  font-size: 1.5em !important;
  text-decoration: underline !important;
  color: #a864a8;
}
.sectionheader2 {
  font-size: 1.5em !important;
  text-decoration: underline !important;
  color: #a864a8;
}


footer {
  text-align: center;
}
