#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.byline {
  text-align: center;
}

figcaption {
  text-align: center;
}

.responsive{
  max-width: 100%;
  height: auto;
}

.graph-text{
  font-family: 'Lato', sans-serif !important;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-image: linear-gradient(#FBF9FF,#B8CFE8);
}

.Mike{
  text-align: center;
}

.fulltime {
  text-align: center;
}

.img-container {
  background-image: url(../image/image.jpg);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bq1 {
  width: 400px; background: url('http://i47.tinypic.com/a9l0g3.png') top left no-repeat;
  padding-left: 46px;
  line-height: 18px;
  color: #575757;
  margin: 0 auto;
} /*Credit: JSFiddle- author: _jro*/

.bq1 p { padding-right: 35px;
  line-height: 18px;
  background: url('http://i48.tinypic.com/eb1yrr.png') bottom right no-repeat;
  padding-bottom: 15px;
  color: #333;
  font-size: 20px;
  font-family: 'Lato',sans-serif !important;
  text-align: center;
} /*Credit: JSFiddle- author: _jro*/

.bq2 {
  width: 400px; background: url('http://i47.tinypic.com/a9l0g3.png') top left no-repeat;
  padding-left: 55px;
  line-height: 18px;
  color: #575757;
  margin: 0 auto;
} /*Credit: JSFiddle- author: _jro*/

.bq2 p { padding-right: 35px;
  line-height: 18px;
  background: url('http://i48.tinypic.com/eb1yrr.png') bottom right no-repeat;
  padding-bottom: 15px;
  color: #333;
  font-size: 20px;
  text-align: center;
  font-family: 'Lato',sans-serif !important;
} /*Credit: JSFiddle- author: _jro*/

p {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

h1{
font-size: 7em;
font-family: 'Lato', sans-serif;
}

h2{
  text-align: center;
}

h3{
text-decoration: underline;
}

iframe {
  margin: 0 auto;
}

blockquote {
    background: #eee;
    border-radius: 5px;
    font-size: 16px;
}

.footer {
  font-family: "Lato", sans-serif;
  width: 100%;
  background-color:#B8CFE8;
  color: black;
  height: 50px;
  text-align: center;
}
